@font-face {
     font-family: 'Inter';
     src: url('https://uploads-ssl.webflow.com/6240dcc630e37d54ba85e8d1/6240e163e05f3b9d82194c37_Inter-Light.ttf') format('truetype');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
}
 @font-face {
     font-family: 'Inter';
     src: url('https://uploads-ssl.webflow.com/6240dcc630e37d54ba85e8d1/6240e163c55a472a4f9be5aa_Inter-Medium.ttf') format('truetype');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}
body{
    background-color: #000000;
    color:#ffffff;
    font-family: Inter, sans-serif;
    font-size: 1em;
     line-height: 1.4;
    font-weight:500;
}
body div.healcode, body div.healcode table tr td, body div.healcode table tr th{
    color:#ffffff!important;
    font-size: 1em;
    line-height:1.4;
}
[data-view-type="stacked"] form > div{
    display:flex;
     justify-content:center;
}
[data-view-type="compact"]{
    max-width:500px;
}
[data-view-type="compact"] form > div > div {
    margin-bottom: 1.5em !important;
}
table tbody{
    display: grid;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-start;
    grid-template-columns: repeat(2, 1fr);
    max-width:640px;
}
th{
    font-weight:500;
}
tr{
    display:flex;
    padding:20px 0;
}
tr > td{
    width: 100%;
}
form input, form textarea, form select, form input.parsley-success, form select.parsley-success, form textarea.parsley-success, form input.parsley-error, form select.parsley-error, form textarea.parsley-error{
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0;
     color:rgba(255, 255, 255, 0.7);
    font-size:1.2em;
    height:38px;
    line-height:1.4;
    padding:8px 0;
    width:100%;
    background:transparent;
    border-width:1px 1px 2px;
    border-style: solid;
    border-color: #000 #000 #404040;
    object-fit: fill;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;
}
form textarea{
    height: 65px;
}
form select, form select.parsley-success, form select.parsley-error{
    height: auto;
}
form input:focus,form input:active, form textarea:focus, form textarea:active, form select:focus, form select:active{
    color: #ffffff;
    border-color: #000 #000 #ffffff;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;
    outline:none;
}
form input[type="checkbox"]{
    appearance: checkbox;
}
form input[type="radio"]{
    appearance: radio;
}
form .parsley-errors-list{
    margin: 0.5em 0 0;
}
form .parsley-errors-list.filled>li{
    font-weight: 300;
}
tr + tr:not([class]){
    width: 100%;
}
div[class*="field"] + div:not([class]), tr + tr:not([class]) > td > div {
    display:flex;
     flex-flow:row wrap;
}
div[class*="field"] + div:not([class]) > div, tr + tr:not([class]) > td > div{
    width: 100%;
}
div[class*="field"] + div:not([class]) > span[class*="field"], tr + tr:not([class]) > td > div > span[class*="field"]{
    display:flex;
     align-items:center;
}
div[class*="field"] + div:not([class]) > span[class*="field"] input,tr + tr:not([class]) > td > div > span[class*="field"] input{
    height: 24px;
    width: 24px;
}
div[class*="field"] + div:not([class]) > span[class*="field"] + div, tr + tr:not([class]) > td > div > span[class*="field"] + div{
    margin-top: 1.5em;
}
healcode-widget div.healcode a.hc-button, healcode-widget div.healcode input.hc-button, form input[type="submit"]{
    background-color: transparent;
    border: 2px solid #797979;
    border-radius:100vw;
    color:#ffffff;
    cursor:pointer;
    font-weight:500;
    height:auto;
    letter-spacing:-0.02em;
    padding: 0.75em 2em;
    text-transform:uppercase;
    width:auto;
    transition:border-color .2s ease-in-out;
}
form input[type="submit"]:hover{
    border-color:#fcfcfc;
    transition:border-color .2s ease-in-out;
}
.widget-privacy-link{
    font-size: 0.75em !important;
}
[data-view-type="stacked"] form input[type="submit"]{
    margin-top:1.5em;
}
